<section>
  <header>
    <div class="mat-headline">Contact</div>
    <mat-divider></mat-divider>
  </header>
  <main>
    <mat-form-field>
      <input matInput placeholder="Name" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Subject" />
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Message" rows="5"></textarea>
    </mat-form-field>
  </main>
  <footer>
    <button mat-button>Cancel</button>
    <button mat-raised-button color="primary">Send</button>
  </footer>
</section>
