<section>
  <header>
    <div class="mat-display-1">API</div>
    <mat-divider></mat-divider>
  </header>
  <main>
    <mat-card>
      <div class="card-header">
        <div class="mat-title">MLB API</div>
        <div class="divider-container">
          <mat-divider></mat-divider>
        </div>
      </div>
      <div class="card-body">
        <p class="mat-body">
          Sports data is hard to come by. Especially Live Data. This API provides you the ability to get
          historical baseball data along with live boxscores and other information to come!
        </p>
      </div>
      <div class="card-footer">
        <button mat-raised-button color="primary">Get API Key</button>
      </div>
    </mat-card>
  </main>
</section>
