<section>
  <header>
    <h1 class="mat-display-1">About</h1>
    <mat-divider></mat-divider>
  </header>
  <main>
    <div class="row">
      <div class="row-header">
        <div class="image-container">
          <img src="https://media.licdn.com/dms/image/C4D0BAQHUnNnyFeXJxQ/company-logo_400_400/0?e=1544054400&v=beta&t=zYb7UDDQHwc0jXYkE4RtX1Z4SSobUU44bD498Ye5c8g" />
        </div>
        <div class="details-container">
          <div class="mat-subheading-2">Software Engineer</div>
          <div class="mat-subheading-1">Headset</div>
          <div class="mat-body-1">October 2017 - Present</div>
          <div class="mat-caption">Seattle, WA</div>
        </div>
      </div>
      <mat-divider></mat-divider>
      <p class="mat-body-2">
        At UW Medicine, I was responsible for maintaining the public web site (http://uwmedicine.org) as well as supporting critical business applications that support many different departments within the University of Washington. I work on a team of business analysts, designers, QA Engineers and developers to interface with end users and develop impactful applications and software.
        Accomplishments
        •	Utilized JavaScript, HTML, CSS and C# to integrate the StayWell API into a reusable component on the public website.
        •	Lead efforts to clean up and organize code and code repositories and update unsupported applications.
        •	Lead front end development efforts on an Enterprise Electronic Whiteboard using Angular4 to assist with the workflow of procedural operations within UW Medicine Hospitals and assist with logistical inpatient activities.
      </p>
    </div>
    <div class="row">
      <div class="row-header">
        <div class="image-container">
          <img src="https://media.licdn.com/dms/image/C4E0BAQHPLk-dtN5kiQ/company-logo_200_200/0?e=1544054400&v=beta&t=HTRuZhup9i7S6I15QT3iFcjV-cu-iFkwuu-rYFZdC0M" />
        </div>
        <div class="details-container">
          <div class="mat-subheading-2">Web Application Developer (Full Stack)</div>
          <div class="mat-subheading-1">UW Medicine</div>
          <div class="mat-body-1">October 2016 - October 2017 - 1 Year 1 Month</div>
          <div class="mat-caption">Seattle, WA</div>
        </div>
      </div>
      <mat-divider></mat-divider>
      <p class="mat-body-2">
        At UW Medicine, I was responsible for maintaining the public web site (http://uwmedicine.org) as well as supporting critical business applications that support many different departments within the University of Washington. I work on a team of business analysts, designers, QA Engineers and developers to interface with end users and develop impactful applications and software.
        Accomplishments
        •	Utilized JavaScript, HTML, CSS and C# to integrate the StayWell API into a reusable component on the public website.
        •	Lead efforts to clean up and organize code and code repositories and update unsupported applications.
        •	Lead front end development efforts on an Enterprise Electronic Whiteboard using Angular4 to assist with the workflow of procedural operations within UW Medicine Hospitals and assist with logistical inpatient activities.
      </p>
    </div>
    <div class="row">
      <div class="row-header">
        <div class="image-container">
          <img src="https://media.licdn.com/dms/image/C4D0BAQF-Nz6WeHp8og/company-logo_400_400/0?e=1544054400&v=beta&t=dKO2RIBXe8rZsqoaUfZqnAh7zZRyEKV-_up49w1JKQ0" />
        </div>
        <div class="details-container">
          <div class="mat-subheading-2">Front End Engineer</div>
          <div class="mat-subheading-1">BluLink Solutions</div>
          <div class="mat-body-1">May 2016 - October 2016 - 6 Months</div>
          <div class="mat-caption">Bellevue, WA</div>
        </div>
      </div>
      <mat-divider></mat-divider>
      <p class="mat-body-2">
        As a Front End Developer at BluLink Solutions, I worked with a team of project managers and designers to help understand customer requirements and build out custom solutions and applications. While building these applications, I would primarily work with JavaScript, HTML and CSS using libraries/frameworks such as AngularJS, jQuery, and Bootstrap.
        Accomplishments
        •	Utilized AngularJS and Bootstrap as frameworks to build an application that would serve as a centralized calendar so that a company could see important dates and events for the company throughout the year. The calendar was scoped towards a large department and built the interface so that it was displayed as a timeline view rather than a standard calendar.
        •	With AngularJS, Bootstrap and jQuery UI, I built search/filtering tools that would interface with a REST API to get information about certain sites and web applications for end user CRUD operations.
        •	Utilizing JavaScript, I developed metrics-tracking tools within sites/applications so that analysts could see who visited the website(s) and what actions they took.
      </p>
    </div>
    <div class="row">
      <div class="row-header">
        <div class="image-container">
          <img src="https://media.licdn.com/dms/image/C4E0BAQGDcHdTD24dEw/company-logo_400_400/0?e=1544054400&v=beta&t=BDcEEXeoOOOOBCr4WS-I1VWJAK69Lbgv4a59W0DKXlA" />
        </div>
        <div class="details-container">
          <div class="mat-subheading-2">Software Developer II</div>
          <div class="mat-subheading-1">Winshuttle</div>
          <div class="mat-body-1">April 2012 - May 2016 - 4 Years 2 Months</div>
          <div class="mat-caption">Bothell, WA</div>
        </div>
      </div>
      <mat-divider></mat-divider>
      <p class="mat-body-2">
        As a Software Developer at Winshuttle, I worked on two separate products that were shipped to large enterprise organizations that helped automate processes that drove day to day business operations. In addition to development efforts, I also worked with external customers to help understand use cases, train and mentor as well as go on site (internationally and nationally) to help troubleshoot issues/develop custom solutions.
        Accomplishments
        •	Contributed to the creation of Winshuttle Composer which was a form-building application built with JavaScript, jQuery, jQuery UI with a C# back-end. The product was built with the idea to replace Microsoft InfoPath. (http://www.winshuttle.com/products/composer/)
        •	Created Web Services/API's using C# that could be consumed by JavaScript.
        •	Revamped product documentation to make it more informational, useful and clear along with additional knowledge base articles for guided directions on how to implement custom features using JavaScript.
        •	Utilized JavaScript and C# to build a tool for internal use that helped replicate issues and pinpoint issues within our Winshuttle Composer products in a quicker manner.
        •	Utilized C#, JavaScript, HTML and CSS to integrate the ability to interface with Salesforce into Winshuttle Composer.
      </p>
    </div>
    <div class="row">
    <div class="row-header">
      <div class="image-container">
        <img src="https://media.licdn.com/dms/image/C560BAQGJLJFM96c2sA/company-logo_400_400/0?e=1544054400&v=beta&t=o6KQj-Y_aqCnRQu65LVGXZDu-WZ7Xnzl-0teFjhhOVc" />
      </div>
      <div class="details-container">
        <div class="mat-subheading-2">SharePoint Developer</div>
        <div class="mat-subheading-1">ATK</div>
        <div class="mat-body-1">January 2012 - April 2012 - 4 Months</div>
        <div class="mat-caption">Independence, MO</div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <p class="mat-body-2">
      While serving as a contractor, I was brought on board to help with Process Automation and to help promote SharePoint to the business. During my time at ATK, I created sites, lists and libraries that helped business users with their every day job duties. I also created custom workflows using Nintex and SharePoint Designer and developed custom SharePoint sites using C#, ASP.NET, JavaScript, HTML and CSS.
    </p>
  </div>
    <div class="row">
      <div class="row-header">
        <div class="image-container">
          <img src="https://media.licdn.com/dms/image/C4E0BAQGyV5TlGL_H_Q/company-logo_400_400/0?e=1544054400&v=beta&t=ReH-aFkBYWHYTlFcIiTrJiuUihx9JolMk-AGumcZmo0" />
        </div>
        <div class="details-container">
          <div class="mat-subheading-2">Quality Assurance Analyst</div>
          <div class="mat-subheading-1">General Dynamics</div>
          <div class="mat-body-1">May 2011 - January 2012 - 9 Months</div>
          <div class="mat-caption">Ft. Leavenworth, KS</div>
        </div>
      </div>
      <mat-divider></mat-divider>
      <p class="mat-body-2">
        Administered the Warrior Reference Library which was a large military document repository housed in SharePoint 2010. The library consisted of mission critical military documents to help the United States Military plan operations better by being able to research documents.
      </p>
    </div>
    <div class="row">
      <div class="row-header">
        <div class="image-container">
          <img src="https://media.licdn.com/dms/image/C4E0BAQE7UwurT7sI4Q/company-logo_400_400/0?e=1544054400&v=beta&t=Xn45vMVkmVS5SOZq9PR4iNOrKo1EdH7EcHuwEXBbCtM" />
        </div>
        <div class="details-container">
          <div class="mat-subheading-2">Documentation Specialist</div>
          <div class="mat-subheading-1">TekSystems</div>
          <div class="mat-body-1">October 2010 - May 2011 - 8 Months</div>
          <div class="mat-caption">Ft. Leavenworth, KS</div>
        </div>
      </div>
      <mat-divider></mat-divider>
      <p class="mat-body-2">
        Responsible for reviewing government documents within SharePoint 2007/2010 and adding accurate metadata in accordance with the Department of Defense Metadata Standards. Personally reviewed and tagged over 3,000 documents in SharePoint 2010 with less than a 5% error rate. Upon final approval I uploaded documents with custom metadata into a SharePoint
      </p>
    </div>
    <div class="row">
      <div class="row-header">
        <div class="image-container">
          <img src="https://media.licdn.com/dms/image/C4E0BAQEtu9_sXFq8bA/company-logo_400_400/0?e=1544054400&v=beta&t=24tqitXQCIwZPRhk6dmNmtMsGussqqG2XPtdcEbqo6A" />
        </div>
        <div class="details-container">
          <div class="mat-subheading-2">Infantry Squad Leader</div>
          <div class="mat-subheading-1">United States Marine Corps</div>
          <div class="mat-body-1">November 2006 - November 2010 - 4 Years 1 Month</div>
          <div class="mat-caption">Camp Pendelton, CA</div>
        </div>
      </div>
      <mat-divider></mat-divider>
      <p class="mat-body-2">
        Directly responsible for the training, welfare, and readiness of 6 Marines. Directed indirect fire onto targets with speed and accuracy to assist adjacent units during combat operations and training exercises. Served overseas on 2 separate deployments with service in 7 different countries.

        - Southwest Asia Deployment (31st MEU Special Operations Capable) (2007 - 2008)
        - Western Pacific Deployment (11th MEU Special Operations Capable) (2009 - 2010)
      </p>
    </div>
  </main>
  <footer></footer>
</section>
