section {
  grid-template-rows: auto 1fr auto;
  header {
    margin: 15px 0;
  }
  main {
    .row {
      .row-header {
        display: grid;
        grid-template-columns: auto 1fr;
        .image-container {
          margin: 15px;
          align-self: center;
          img {
            height: 60px;
            width: 60px;
            align-self: center;
          }
        }
        .details-container {
          margin: 15px;
        }
      }
    }
  }
  footer {}
}
