<!--<section>-->
  <!--<header>-->
  <!--</header>-->
  <!--<main>-->
    <!--<div class="mat-title">Software Engineer</div>-->
    <!--<mat-divider></mat-divider>-->
    <!--<p class="mat-content">-->
      <!--At UW Medicine, I was responsible for maintaining the public web site (http://uwmedicine.org) as well as supporting critical business applications that support many different departments within the University of Washington. I work on a team of business analysts, designers, QA Engineers and developers to interface with end users and develop impactful applications and software.-->
      <!--Accomplishments-->
      <!--•	Utilized JavaScript, HTML, CSS and C# to integrate the StayWell API into a reusable component on the public website.-->
      <!--•	Lead efforts to clean up and organize code and code repositories and update unsupported applications.-->
      <!--•	Lead front end development efforts on an Enterprise Electronic Whiteboard using Angular4 to assist with the workflow of procedural operations within UW Medicine Hospitals and assist with logistical inpatient activities.-->
    <!--</p>-->
  <!--</main>-->
  <!--<footer></footer>-->
<!--</section>-->
