<section>
  <header>
    <h1 class="mat-title">About</h1>
    <mat-divider></mat-divider>
  </header>
  <main>
    <div class="row">
      <div class="row-header">
        <div class="image-container">
          <img src="https://via.placeholder.com/60x60" />
        </div>
        <div class="details-container">
          <div class="mat-subheading-2">Developer</div>
          <div class="mat-body-1">October 2016 - October 2017 - 1 yr 1 mo</div>
          <div class="mat-caption">Seattle, WA</div>
        </div>
      </div>
      <mat-divider></mat-divider>
      <p class="mat-body-2">
      </p>
    </div>
  </main>
  <footer></footer>
</section>
