<section>
  <header>
    <div class="mat-display-1">Applications</div>
    <mat-divider></mat-divider>
  </header>
  <main>
    <mat-card>
      <div class="card-header">
        <div class="mat-title">MLB Explorer</div>
        <div class="divider-container">
          <mat-divider></mat-divider>
        </div>
      </div>
      <div class="card-body">
        <p class="mat-body">
          Just some fun with visualizing data form the MLB API
        </p>
      </div>
      <div class="card-footer">
        <button mat-raised-button color="primary" routerLink="/portfolio/chadwick/overview">Check it out!</button>
      </div>
    </mat-card>
  </main>
</section>
