section {
  mat-card {
    display: grid;
    grid-template-rows: repeat(3, auto);
    .value {
      margin: 0;
      text-align: center;
    }
    .divider-container {
      height: 10px;
      padding: 10px 0;
      .divider {
        height: 1px;
        background: gray;
      }
    }
    .text {
      text-align: center;
    }
  }
}
