<section *ngIf="counts">
  <app-boxscores class="span-4"></app-boxscores>
  <app-d3-pie-chart></app-d3-pie-chart>
  <app-single-number-viz [num]="counts.people" text="People"></app-single-number-viz>
  <app-single-number-viz [num]="counts.teams" text="Teams"></app-single-number-viz>
  <app-single-number-viz [num]="counts.ballparks" text="Ballparks"></app-single-number-viz>
  <app-single-number-viz [num]="counts.attendance" text="Attendance"></app-single-number-viz>
  <app-region-breakdown #regionBreakdown (dataPointClickEmitter)="filterUpdated($event)"></app-region-breakdown>
  <app-hitting-breakdown #hittingBreakdown class="span-3"></app-hitting-breakdown>
  <app-oldest-franchises #oldestFranchises class="span-3"></app-oldest-franchises>
  <app-top-world-series-winners #topWorldSeriesWinners (dataPointClickEmitter)="filterUpdated($event)"></app-top-world-series-winners>
  <app-attendance-trend #attendanceTrend class="span-4"></app-attendance-trend>
</section>

