<section>
  <header>
    <mat-form-field>
      <input type="text" placeholder="Player 1" matInput [formControl]="player1Ctrl" [matAutocomplete]="player1Auto" />
      <mat-autocomplete #player1Auto [displayWith]="displayFn" (optionSelected)="onPlayerChanged()">
        <mat-option *ngFor="let result of results" [value]="result">
          <div>
            {{result.name}}
            <small>{{result.teams.join(', ')}}</small>
          </div>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field>
      <input type="text" placeholder="Player 2" matInput [formControl]="player2Ctrl" [matAutocomplete]="player2Auto" />
      <mat-autocomplete #player2Auto [displayWith]="displayFn" (optionSelected)="onPlayerChanged()">
        <mat-option *ngFor="let result of results" [value]="result">
          <div>
            {{result.name}}
            <small>{{result.teams.join(', ')}}</small>
          </div>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </header>
  <main>
    <app-homerun-comparison #homerunCompare [player1]="player1Detail" [player2]="player2Detail"></app-homerun-comparison>
    <app-hitting-comparison #hittingCompare [player1]="player1Detail" [player2]="player2Detail"></app-hitting-comparison>
  </main>
</section>
