section {
  display: grid;
  grid-template-areas: "header"
                       "main";
  grid-template-rows: auto 1fr;
  height: 100%;
  header {
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    mat-form-field {
      padding: 15px;
    }
  }
  main {
    grid-area: main;
  }
}
