<section id="homeView">
  <header>
  </header>
  <main>
    <div id="heading">
      <div class="mat-display-1">Marc Wilson</div>
      <div class="mat-subheading-2">Seattle, WA</div>
      <p class="mat-body-1">

      </p>
    </div>
    <div id="cards">
      <mat-card routerLink="/portfolio">
        <div class="mat-subheading-2">Portfolio</div>
        <mat-divider></mat-divider>
        <div class="icon">
          <fa-icon [icon]="faBriefcase"></fa-icon>
        </div>
      </mat-card>
      <mat-card (click)="openContactForm()">
        <div class="mat-subheading-2">Contact</div>
        <mat-divider></mat-divider>
        <div class="icon">
          <fa-icon [icon]="faEnvelope"></fa-icon>
        </div>
      </mat-card>
      <mat-card routerLink="/about">
        <div class="mat-subheading-2">About</div>
        <mat-divider></mat-divider>
        <div class="icon">
          <fa-icon [icon]="faUserTie"></fa-icon>
        </div>
      </mat-card>
    </div>
    <div id="socialIcons">
      <div class="icons-container">
        <a href="https://github.com/mswilson4040" target="_blank" class="icon">
          <fa-icon [icon]="faGithub"></fa-icon>
        </a>
        <a href="https://stackoverflow.com/users/2415802/mwilson" target="_blank" class="icon">
          <fa-icon [icon]="faStackOverflow" class="stack-overflow"></fa-icon>
        </a>
        <a href="https://www.linkedin.com/in/marc-wilson-43675750" target="_blank" class="icon">
          <fa-icon [icon]="faLinkedIn" class="linked-in"></fa-icon>
        </a>
        <a href="https://www.facebook.com/mswilson4040" target="_blank" class="icon">
          <fa-icon [icon]="faFacebookF" class="facebook"></fa-icon>
        </a>
        <a href="https://twitter.com/Mswilson4040" target="_blank" class="icon">
          <fa-icon [icon]="faTwitter" class="twitter"></fa-icon>
        </a>
      </div>
    </div>
  </main>
</section>
