@import '../../../../variables';
@import '../../../../mq-mixins';
#homeView {
  display: grid;
  grid-template-areas: "header"
                       "main";
  grid-template-rows: 30% 1fr;
  height: 100%;
  header {
    grid-area: header;
    background: url('../../../../images/jumbotron-seats.jpg');
    background-size: cover;
    //position: absolute;
    //height: 400px;
    //width: 100%;
    //left: 0;
  }
  main {
    margin: 0 auto;
    grid-area: main;
    display: grid;
    grid-template-rows: auto auto 1fr;

    #heading {
      padding: 15px;
      text-align: center;
      .mat-display-1 { margin: 0; }
      p.mat-body-1 {
        color: gray;
        text-align: center;
      }
    }
    #cards {
      display: grid;
      grid-gap: 15px;
      mat-card {
        opacity: 0.7;
        cursor: pointer;
        &:hover {
          opacity: 1;
        }
        .icon {
          padding: 30px;
          text-align: center;
          color: gray;
          font-size: 400%;
        }
      }
    }
    #socialIcons {
      display: grid;
      grid-template-rows: 1fr;
      min-height: 140px;
      .icons-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        width: 100%;
        .icon {
          opacity: 0.7;
          cursor: pointer;
          transition: 300ms all;
          text-decoration: none;
          color: black;
          &:hover {
            opacity: 1;
            .stack-overflow {
              color: $stackOverflowHex;
            }
            .linked-in {
              color: $linkedInHex;
            }
            .facebook {
              color: $facebookHex;
            }
            .twitter {
              color: $twitterHex
            }
          }
          fa-icon {
            font-size: 200%;
          }
        }
      }
    }
  }
  @include extra-large() {
    main {
      #cards {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
  @include large() {
    main {
      #cards {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
  @include medium() {
    main {
      #cards {
        grid-template-rows: repeat(3, auto);
      }
    }
  }
  @include small() {
    main {
      #cards {
        grid-template-rows: repeat(3, auto);
        mat-card {
          .icon {
            padding: 15px;
            text-align: center;
            color: gray;
            font-size: 200%;
          }
        }
      }
    }
  }
  @include extra-small() {
    main {
      width: 100%;
      #cards {
        grid-template-rows: repeat(3, auto);
        mat-card {
          .icon {
            padding: 15px;
            text-align: center;
            color: gray;
            font-size: 200%;
          }
        }
      }
    }
  }
}
