mat-drawer-container {
  height: 100%;
  mat-drawer {
    border-right: 0.5px solid lightgray;
    width: 4em;
    padding-top: 30px;
    &.side-nav-open {
      animation: toggleSideNav 300ms forwards;
    }
    .nav-links-container {
      display: grid;
      grid-template-rows: repeat(2, auto);
      .nav-link {
        margin: 5px 0;
        display: grid;
        cursor: pointer;
        grid-template-columns: 4em 1fr;
        opacity: 0.7;
        transition: all 200ms;
        &:hover, &.active-link {
          opacity: 1;
        }
        .icon-container {
          display: grid;
          width: 4em;
          align-items: center;
          justify-items: center;
          fa-icon {
            font-size: 125%;
          }
        }
        .link-text {
          align-items: center;
          display: grid;
          opacity: 0;
          white-space: nowrap;
          transform: translateY(-15px);
          &.side-nav-open {
            animation: fadeInLinks 300ms 300ms forwards;
          }
        }
      }
    }
  }
  mat-drawer-content {
    margin: 30px;
  }
}

@keyframes toggleSideNav {
  0% {
    width: 4em;
  }
  100% {
    width: 15em;
  }
}
@keyframes fadeInLinks {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
